.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(39, 76, 117);
    overflow-x: hidden;
    padding-top: 1%;
}
.sidebar-text {
    color: white;
    margin-top: -1vw;
    margin-left: 0.5vw;
}
.full-name {
    font-size: 3vw;
}
.profession {
    font-size: 2.3vw;
}
.separator {
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: rgb(32, 57, 85);
    margin-left: -1vw;
    padding: 4px;
}
.separator-text {
    font-size: 2.2vw;
    margin-left: 1vw;
}
.information {
    padding-bottom: 1vw;
}
.txtBold {
    font-weight: bold;
    font-size: 1.1vw;
}
.field {
    font-size: 1vw;
}




.page-content {
    margin-left: 25%;
}

.sectionTitle {
    position: relative;
    font-weight: bolder;
    font-size: larger;
    padding-top: 13px;
    top: 24px;
}

.sectionText {
    position: relative;
    left: 30px;
}

.switch-language {
    position: relative;
    left: 60%;
    top: 35px;
}

hr {
    text-align: left;
    width: 100%;
    position: relative;
    top: 6px;
}