.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(43, 44, 107);
    overflow-x: hidden;
    padding-top: 1%;
}

.sidebar-text {
    color: white;
    margin-top: -1vw;
    margin-left: 0.5vw;
}

.full-name {
    font-size: 3vw;
}

.profession {
    font-size: 2vw;
}

.page-content {
    margin-left: 25%;
}

.txtBold {
    font-weight: bold;
}

.sectionTitle {
    position: relative;
    font-weight: bolder;
    font-size: larger;
    padding-top: 13px;
    top: 24px;
}

.sectionText {
    position: relative;
    left: 30px;
}

.switch-language {
    position: relative;
    left: 60%;
    top: 35px;
}

hr {
    text-align: left;
    width: 100%;
    position: relative;
    top: 6px;
}