<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static "firstapp/css/styles-for-business.css" %}" />
  <meta charset="utf-8">
  <title>Business CV</title>
</head>

<body>
  

  <div class="mainTitle">
    <h1>Vladyslav Kopylets</h1>
    <p>Software Engineer</p>
  </div>
  <div class="switch-language">
    <button class="btn"><a href="{% url 'business_ua' %}"> UA </a></button>
  </div>
  <div>
    <span class="txtBold">Address &nbsp&nbsp</span>
    <span class="field">Ukraine, Cherkassy city, Somestreet st.</span>
  </div>
  <div>
    <span class="txtBold">Phone number &nbsp&nbsp</span>
    <span class="field">+380 800 555 35 35</span>
  </div>
  <div>
    <span class="txtBold">E-mail &nbsp&nbsp</span>
    <span class="field">example@gmail.com</span>
  </div>

  <div>
    <p class="sectionTitle">Skills</p>
    <hr>
    <ul>
      <li>C#</li>
      <li>C++</li>
      <li>Java</li>
      <li>HTML5 \ CSS2</li>
    </ul>
  </div>



<div>
    <p class="sectionTitle">Work History</p>
    <hr>
    <span class="sectionText">null</span>
</div>

<div>
    <p class="sectionTitle">Education</p>
    <hr>
    <div class="sectionText">
      <span>Cherkasy State Technological University</span>
      <span><small>(2019 - 2023)</small></span>
    </div>
</div>

  <div>
    <p class="sectionTitle">Languages</p>
    <hr>
    <ul>
      <li>Ukrainian (native)</li>
      <li>Russian (native)</li>
      <li>English (intermediate - upper-intermediate)</li>
    </ul>
  </div>
</body>


</html>