<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static "firstapp/css/styles-for-business.css" %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work in progress</title>
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-text">
            <div>
                <div class="full-name">Vladyslav Kopylets</div>
                <div class="profession">Software Engineer</div>
            </div>
            <div class="separator">
                <div class="separator-text">Personal Info</div>
            </div>
            <div class="information">
                <div class="txtBold">Address</div>
                <span class="field">Ukraine, Cherkassy city, Somestreet st.</span>
            </div>
            <div class="information">
                <div class="txtBold">Phone</div>
                <span class="field">0 800 555 35 35</span>
            </div>
            <div class="information">
                <div class="txtBold">E-mail</div>
                <span class="field">example@gmail.com</span>
            </div>
        </div>
    </div>


    <div class="page-content">

        <div class="switch-language">
            <button class="btn"><a href="index-ua.html"> Ukrainian </a></button>
        </div>


        <div>
            <p class="sectionTitle">Skills</p>
            <hr>
            <ul>
                <li>C#</li>
                <li>C++</li>
                <li>Java</li>
                <li>HTML5 \ CSS2</li>
            </ul>
        </div>



        <div>
            <p class="sectionTitle">Work History</p>
            <hr>
            <span class="sectionText">null</span>
        </div>

        <div>
            <p class="sectionTitle">Education</p>
            <hr І>
            <div class="sectionText">
                <span>Cherkasy State Technological University</span>
                <span><small>(2019 - 2023)</small></span>
            </div>
        </div>

        <div>
            <p class="sectionTitle">Languages</p>
            <hr>
            <ul>
                <li>Ukrainian (native)</li>
                <li>Russian (native)</li>
                <li>English (intermediate - upper-intermediate)</li>
            </ul>
        </div>
    </div>
</body>


</html>