<!DOCTYPE html>
{% load static %}

<head>
  <link rel="stylesheet" href="{% static "firstapp/css/styles-for-creative.css" %}" />
  <meta charset="utf-8">
  <title>oh no cringe</title>
</head>

<body>



  <div class="row">
    <div class="column">
      <img src="{% static "firstapp/images/oh-no.jpg"%}" width="200" height="200">
    </div>
    <div class="column">
      <img src="{% static "firstapp/images/coughing-cat.jpg"%}" width="200" height="200">
    </div>
    <div class="column">
      <img src="{% static "firstapp/images/crying-cat.jpeg"%}" width="200" height="200">
    </div>
    <div class="column">
      <img src="{% static "firstapp/images/loading-cat.jpg"%}" width="200" height="200">
    </div>
    <div class="column">
      <img src="{% static "firstapp/images/polite-cat.jpg"%}" width="200" height="200">
    </div>
    <div class="column">
      <img src="{% static "firstapp/images/cool-cat.jpg"%}" width="200" height="200">
    </div>
    <div class="column">
      <img src="{% static "firstapp/images/mustache-cat.jpg"%}" width="200" height="200">
    </div>
  </div>


  <div class="top-text">
    <h1>В мене також немає слів</h1>
  </div>

  <div class="left-text">
    <p>Ім'я: </p>
    <p>Професія: </p>
    <p>Ел. пошта: </p>
  </div>

  <div class="right-text">
    <p>Владислав Копилець<p>
    <p>Погроміст</p>
    <p>pogromist@gmail.com</p>
  </div>


  <div class="switch-language">
    <button class="btn"><a href="{% url 'creative' %}"> EN </a></button>
  </div>

</body>

</html>